<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tertis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tertis">
        <activity android:name=".NextPiece"></activity>
        <activity android:name=".GameOver" />
        <activity
            android:name=".Tetris"
            android:label="@string/title_activity_tetris"
            android:theme="@style/Theme.Tertis.NoActionBar" />
        <activity android:name=".Piece" />
        <activity android:name=".GameBoard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>